## ìì—°ì–´ ì²˜ë¦¬ ê³¼ì œì…ë‹ˆë‹¤

íŒŒì¼ëª… ì œì¶œ : nlp_{ì´ë¦„}.ipynb  
ì œì¶œê¸°í•œì¼ : 2023.10.10  
ì œì¶œ ì´ë©”ì¼ : bluelemonsky7@gmail.com  
ë¶„ì„ ëŒ€ìƒ ë°ì´í„° : ë„¤ì´ë²„ í‰ì  test ë°ì´í„°

í‰ê°€ ê´€ì 
1. ì½”ë“œë¥¼ ì‘ì„±í•˜ì—¬ error ì—†ì´ ì§„í–‰í•´ì•¼ í•¨
2. ê°ì¢… ëª¨ë¸ì„ ë¹„êµí•˜ê±°ë‚˜ ì„ íƒí•œ ì´ìœ  ë“±ì„ ì‘ì„±
3. train : test ë¹„ìœ¨ì€ 7:3ìœ¼ë¡œ í•¨
4. ìµœì¢… í‰ê°€ì—ì„œ train ë°ì´í„°ì— ëŒ€í•œ ì •í™•ë„ 90 ì´ìƒ, test ë°ì´í„°ì— ëŒ€í•œ ì •í™•ë„ëŠ” 85 ì´ìƒì„ ëª©í‘œë¡œ í•¨
5. ëª¨ë¸ í‰ê°€ì—ì„œ ê³ ì •ëœ ê²°ê³¼ê°€ ë‚˜ì˜¤ë„ë¡ í•˜ì„¸ìš” (random seed ì„¤ì •)

Part 1 . ë¶„ì„ í™˜ê²½ì— ëŒ€í•œ ì •ë³´ë¥¼ ë³´ì—¬ì£¼ì„¸ìš”

1. python ë²„ì „ = 3.10.13
2. ì£¼ìš” ì‚¬ìš© íŒ¨í‚¤ì§€ ë²„ì „ ì •ë³´

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print('pandas :', pd.__version__)

pandas : 2.1.1

Part 2. ë¶„ì„ ë°ì´í„°ë¥¼ ë¡œë“œí•˜ì„¸ìš”

1. íŒë‹¤ìŠ¤ë¡œ ë°ì´í„°ë¥¼ read í•˜ì„¸ìš”

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', sep='\t', encoding='utf-8')
test = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt', sep='\t', encoding='utf-8')

display(train.head())
print('ğŸ˜Š')
display(test.head())

         id                                           document  label
0   9976970                                ì•„ ë”ë¹™.. ì§„ì§œ ì§œì¦ë‚˜ë„¤ìš” ëª©ì†Œë¦¬      0
1   3819312                  í ...í¬ìŠ¤í„°ë³´ê³  ì´ˆë”©ì˜í™”ì¤„....ì˜¤ë²„ì—°ê¸°ì¡°ì°¨ ê°€ë³ì§€ ì•Šêµ¬ë‚˜      1
2  10265843                                  ë„ˆë¬´ì¬ë°“ì—ˆë‹¤ê·¸ë˜ì„œë³´ëŠ”ê²ƒì„ì¶”ì²œí•œë‹¤      0
3   9045019                      êµë„ì†Œ ì´ì•¼ê¸°êµ¬ë¨¼ ..ì†”ì§íˆ ì¬ë¯¸ëŠ” ì—†ë‹¤..í‰ì  ì¡°ì •      0
4   6483659  ì‚¬ì´ëª¬í˜ê·¸ì˜ ìµì‚´ìŠ¤ëŸ° ì—°ê¸°ê°€ ë‹ë³´ì˜€ë˜ ì˜í™”!ìŠ¤íŒŒì´ë”ë§¨ì—ì„œ ëŠ™ì–´ë³´ì´ê¸°ë§Œ í–ˆë˜ ì»¤ìŠ¤í‹´ ...      1

ğŸ˜Š

        id                                           document  label
0  6270596                                                êµ³ ã…‹      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             ë­ì•¼ ì´ í‰ì ë“¤ì€.... ë‚˜ì˜ì§„ ì•Šì§€ë§Œ 10ì  ì§œë¦¬ëŠ” ë”ë”ìš± ì•„ë‹ˆì–ì•„      0
3  6825595                   ì§€ë£¨í•˜ì§€ëŠ” ì•Šì€ë° ì™„ì „ ë§‰ì¥ì„... ëˆì£¼ê³  ë³´ê¸°ì—ëŠ”....      0
4  6723715  3Dë§Œ ì•„ë‹ˆì—ˆì–´ë„ ë³„ ë‹¤ì„¯ ê°œ ì¤¬ì„í…ë°.. ì™œ 3Dë¡œ ë‚˜ì™€ì„œ ì œ ì‹¬ê¸°ë¥¼ ë¶ˆí¸í•˜ê²Œ í•˜ì£ ??      0

Part 3. í…ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ EDAí•˜ì„¸ìš”

1. í†µê³„ì ìœ¼ë¡œ í…ìŠ¤íŠ¸ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”
2. ì‹œê°í™” í•´ë³´ì„¸ìš”
3. ë¶ˆìš©ì–´(stop words)ë¥¼ ì°¾ì•„ë³´ì„¸ìš”
4. ê¸°íƒ€ ì—¬ëŸ¬ ë°©ë²•ìœ¼ë¡œ EDAë¥¼ í•´ë³´ì„¸ìš”

In [9]:
sns.countplot(train, x='label', figsize=(15,5))
plt.figure()/
plt.show()

SyntaxError: invalid syntax (614489184.py, line 2)

In [4]:
dd

NameError: name 'dd' is not defined

In [ ]:
# ë°ì´í„° nullê°’ í™•ì¸ ë° label ë¶„í¬ í™•ì¸ 

print(train.info())
sns.countplot(train, x='label')
plt.title('Train Label')
plt.show()
print('ğŸ˜Š')
print(test.info())
sns.countplot(test.label.value_counts())
plt.title('Test Label')
plt.show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB
None

:

Part 4. í…ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ì„ë² ë”© í•˜ì„¸ìš”

1. í…ìŠ¤íŠ¸ í† í¬ë‚˜ì´ì¦ˆë¥¼ í•´ë³´ì„¸ìš”
2. í…ìŠ¤íŠ¸ë¥¼ ë²¡í„°í™” í•˜ì„¸ìš”
    - one-hot, count, tf-idf

Part 5. ë¶„ë¥˜ ëª¨ë¸ì„ í›ˆë ¨í•˜ê³  ì ìš©í•´ ë³´ì„¸ìš”

Part 6. ëª¨ë¸ì„ í‰ê°€í•˜ì„¸ìš”
- XAI