### Chapter 1. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
2. Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
3. Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°Ïπò ÌôïÏù∏ (Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú I)
4. Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥ (Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú II)
5. Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞
6. Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïã±
7. Ïù¥ÌÉà Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ : ÏùºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ -> ÏõîÎ≥Ñ Îç∞Ïù¥ÌÑ∞

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

import os

### Í≤ΩÎ°ú Í¥ÄÎ†®

In [2]:
# ÌòÑÏû¨ ÌîÑÎ°úÏÑ∏Ïä§Ïùò ÏûëÏóÖ ÎîîÎ†âÌÜ†Î¶¨ ÌôïÏù∏
cur_dir = os.getcwd()
print(cur_dir)

# ÌòÑÏû¨ ÏûëÏóÖÌååÏùºÏùò Í≤ΩÎ°úÏóê ÏûàÎäî Î¶¨Ïä§Ìä∏ ÌôïÏù∏ -> Î¶¨Ïä§Ìä∏Î°ú Î∞òÌôò
dir_list = os.listdir(cur_dir)
print(dir_list)

# ÌäπÏ†ï Í≤ΩÎ°úÏùò Ìè¥Îçî(ÎîîÎ†âÌÜ†Î¶¨) ÏÉùÏÑ±
# os.mkdir('test2')

# os.mkdir(cur_dir + '/tt')

# ÏßÄÏ†ïÌïú ÌååÏùºÏùò Ïù¥Î¶ÑÏùÑ Î≥ÄÍ≤Ω
# os.rename('test33333333', 'test2')

# ÏßÄÏ†ïÎêú Í≤ΩÎ°úÏùò ÎîîÎ†âÌÜ†Î¶¨Î•º ÏàúÏ∞®Ï†ÅÏúºÎ°ú ÌÉêÏÉâ -> Ï£ºÎ°ú forÎ¨∏Í≥º ÌôúÏö©
# Í≤ΩÎ°ú, Ìè¥Îçî, ÌååÏùº ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•Îê®
for dirpath, folder, file in os.walk(cur_dir):
    print(dirpath, '\n', folder, '\n', file)

d:\Ï≤úÏû¨ÍµêÏú°\2308_Ïã§Î¨¥ÏûêÌäπÍ∞ï_Ïã§Ïäµ
['1ÏùºÏ∞®.pdf', 'chapter 1. Ïã§ÏäµÏö© ÏΩîÎìú.ipynb', 'Dropout', 'penguin']
d:\Ï≤úÏû¨ÍµêÏú°\2308_Ïã§Î¨¥ÏûêÌäπÍ∞ï_Ïã§Ïäµ
 ['Dropout', 'penguin']
 ['1ÏùºÏ∞®.pdf', 'chapter 1. Ïã§ÏäµÏö© ÏΩîÎìú.ipynb']
d:\Ï≤úÏû¨ÍµêÏú°\2308_Ïã§Î¨¥ÏûêÌäπÍ∞ï_Ïã§Ïäµ\Dropout
 []
 ['df1.csv', 'df2.csv', 'df3.csv', 'df4.csv', 'Dropout.csv', 'member.csv', 'ÌÖåÏù¥Î∏îÎ™ÖÏÑ∏ÏÑú_dropout.csv']
d:\Ï≤úÏû¨ÍµêÏú°\2308_Ïã§Î¨¥ÏûêÌäπÍ∞ï_Ïã§Ïäµ\penguin
 []
 ['penguins_lter.csv', 'penguins_size.csv', 'ÌÖåÏù¥Î∏îÎ™ÖÏÑ∏ÏÑú_penguin.csv']

### ÌäπÏ†ï Í≤ΩÎ°úÏùò ÌååÏùº Î¶¨Ïä§Ìä∏ ÌôïÏù∏

In [3]:
data_list = os.listdir('Dropout')[0:-1]
print("Îç∞Ïù¥ÌÑ∞ÏÖã Î™©Î°ù(data_list) : ", data_list)

Îç∞Ïù¥ÌÑ∞ÏÖã Î™©Î°ù(data_list) :  ['df1.csv', 'df2.csv', 'df3.csv', 'df4.csv', 'Dropout.csv', 'member.csv']

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ type 1 -> dict ÌòïÌÉúÎ°ú Î∞òÌôò

In [4]:
cur_dir

'd:\\Ï≤úÏû¨ÍµêÏú°\\2308_Ïã§Î¨¥ÏûêÌäπÍ∞ï_Ïã§Ïäµ'

In [5]:
dataset = dict()

for data in data_list:
    dataset[data[0:-4]] = pd.read_csv(cur_dir + f'\\Dropout\\{data}', encoding='cp949')

In [ ]:
dataset.keys()

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ type 2 -> dataframe ÌòïÌÉúÎ°ú Í∞ÅÍ∞Å Î∞òÌôò

In [ ]:
for i in dataset.keys():
    print(f'{i}üòó')
    display(dataset[i])

### Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞

In [6]:
dropout = pd.merge(dataset['member'], dataset['df1'], right_on='ID', left_on='ID')
dropout = pd.merge(dropout, dataset['df2'], right_on='ID', left_on='ID')
dropout = pd.merge(dropout, dataset['df3'], right_on='ID', left_on='ID')
dropout = pd.merge(dropout, dataset['df4'], right_on='ID', left_on='ID')

### ÌÖåÏù¥Î∏î Ïª¨Îüº ÌÉÄÏûÖ ÌôïÏù∏

In [7]:
dropout.dtypes

ID                                                 object
Nacionality                                        object
Gender                                             object
Target                                             object
Marital status                                    float64
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance                        float64
Previous qualification                            float64
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Education                                         float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
dtype: object

### Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎÇ¥Ïùò Í∞í Î≥ÄÍ≤Ω

In [8]:
def change_value(values):
    if values == 'Portuguese':
        return 1
    elif values == 'German':
        return 2
    elif values == 'Spanish':
        return 3
    elif values == 'Italian':
        return 4
    elif values == 'Dutch':
        return 5
    elif values == 'English':
        return 6
    elif values == 'Lithuanian':
        return 7
    elif values == 'Angolan':
        return 8
    elif values == 'Cape Verdean':
        return 9
    elif values == 'Guinean':
        return 10
    elif values == 'Mozambican':
        return 11
    elif values == 'Santomean':
        return 12
    elif values == 'Turkish':
        return 13
    elif values == 'Brazilian':
        return 14
    elif values == 'Romanian':
        return 15
    elif values == 'Moldova':
        return 16
    elif values == 'Mexican':
        return 17
    elif values == 'Ukrainian':
        return 18
    elif values == 'Russian':
        return 19
    elif values == 'Cuban':
        return 20
    elif values == 'Colombian':
        return 21

### Îç∞Ïù¥ÌÑ∞ Í∞í Î≥ÄÍ≤Ω version 1 -> Ìï®Ïàò/apply ÏÇ¨Ïö©

In [ ]:
# dropout['Nacionality'] = dropout['Nacionality'].apply(change_value)
# dropout

### Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº Ï∂îÍ∞Ä

#### - Îπà Ïª¨Îüº ÏÉùÏÑ± version 1
-> DataFrame['Ï∂îÍ∞ÄÌïòÍ≥† Ïã∂ÏùÄ Ïª¨ÎüºÎ™Ö'] = 'Ïª¨ÎüºÍ∞í'

In [ ]:
# dropout['Nationality'] = 0

#### - Îπà Ïª¨Îüº ÏÉùÏÑ± version 2
-> insert(loc = ÎÑ£Í≥† Ïã∂ÏùÄ ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏùò ÏúÑÏπò, column = Ï∂îÍ∞ÄÌïòÍ≥† Ïã∂ÏùÄ ÏÉàÎ°úÏö¥ Ïª¨ÎüºÎ™Ö, value = ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏùò Í∞í)

In [ ]:
# dropout.insert(loc = 2, column = 'Nationality_re', value = 999)
# dropout.drop(['Nationality_re', 'Nationality'], axis=1, inplace=True)

In [9]:
dropout.insert(loc = 2, column = 'Nationality', value = dropout['Nacionality'].apply(change_value))
dropout.drop(['Nacionality'], axis=1, inplace=True)

### Îç∞Ïù¥ÌÑ∞ Í∞í Î≥ÄÍ≤Ω version 2 -> loc ÏÇ¨Ïö©

In [ ]:
# dropout.loc[dropout['Nationality'] == 'Portuguese', 'Nationality'] = 1

In [12]:
dropout.head()

,ID,Nationality,Gender,Target,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,37c5fefa-df8e-4dcc-aec7-60000f2198e4,1.0,Male,Dropout,1.0,8.0,5.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74
1,37cf2ef2-2a6f-466a-a8cf-56a753bd8e71,1.0,Male,Graduate,1.0,6.0,1.0,11.0,1.0,1.0,...,0.0,0.0,6.0,6.0,6.0,13.666667,0.0,13.9,-0.3,0.79
2,37ddd4c5-ab63-4b43-8df7-24e98f39f25b,1.0,Male,Dropout,1.0,1.0,5.0,5.0,1.0,1.0,...,0.0,0.0,6.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74
3,37fafa03-d77a-4723-89aa-84a8277379c5,1.0,Female,Graduate,1.0,8.0,2.0,15.0,1.0,1.0,...,0.0,0.0,6.0,10.0,5.0,12.400000,0.0,9.4,-0.8,-3.12
4,382cc9e8-e885-4bcd-ae4d-a3846c35097b,1.0,Female,Graduate,2.0,12.0,1.0,3.0,0.0,1.0,...,0.0,0.0,6.0,6.0,6.0,13.000000,0.0,13.9,-0.3,0.79

### Ïª¨ÎüºÎ≥Ñ Ï§ëÎ≥µ Ï†úÍ±∞ Í∞úÏàò

In [13]:
columns_info = dict()
columns = dropout.columns

for col in columns:
    columns_info[col] = len(dropout[col].unique())

pprint(columns_info, sort_dicts=False)

{'ID': 4424,
 'Nationality': 22,
 'Gender': 3,
 'Target': 4,
 'Marital status': 7,
 'Application mode': 19,
 'Application order': 9,
 'Course': 18,
 'Daytime/evening attendance': 3,
 'Previous qualification': 18,
 "Mother's qualification": 30,
 "Father's qualification": 35,
 "Mother's occupation": 33,
 "Father's occupation": 47,
 'Displaced': 3,
 'Educational special needs': 3,
 'Debtor': 3,
 'Tuition fees up to date': 3,
 'Scholarship holder': 3,
 'Age at enrollment': 47,
 'International': 3,
 'Education': 26,
 'Curricular units 1st sem (credited)': 22,
 'Curricular units 1st sem (enrolled)': 24,
 'Curricular units 1st sem (evaluations)': 36,
 'Curricular units 1st sem (approved)': 24,
 'Curricular units 1st sem (grade)': 790,
 'Curricular units 1st sem (without evaluations)': 12,
 'Curricular units 2nd sem (credited)': 20,
 'Curricular units 2nd sem (enrolled)': 23,
 'Curricular units 2nd sem (evaluations)': 31,
 'Curricular units 2nd sem (approved)': 21,
 'Curricular units 2nd sem (grade)': 781,
 'Curricular units 2nd sem (without evaluations)': 11,
 'Unemployment rate': 11,
 'Inflation rate': 10,
 'GDP': 11}

### Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÌÉêÏÉâ

In [ ]:
# dropout = dropout.rename(columns = {'Nacionality' : 'Nationality'})
dropout_action_cnt = dropout.groupby(['Nationality', 'Target']).size().reset_index().pivot(columns='Target', index='Nationality', values=0)
dropout_action_cnt = dropout_action_cnt.rename(index = {1:'Ìè¨Î•¥Ìà¨Ïπº', 2:'ÎèÖÏùº'})

In [ ]:
dropout_action_cnt

### Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÌÉÄÏûÖ Î≥ÄÍ≤Ω

In [14]:
dropout = dropout.astype({"Marital status" : 'object',
                         "Application mode" : 'object',
                         "Course" : 'object',
                         "Daytime/evening attendance" : 'object',
                         "Previous qualification" : 'object',
                         "Mother's qualification" : 'object',
                         "Father's qualification" : 'object',
                         "Mother's occupation" : 'object',
                         "Father's occupation" : 'object',
                         "Displaced" : 'object',
                         "Educational special needs" : 'object',
                         "Debtor" : 'object',
                         "Tuition fees up to date" : 'object',
                         "Scholarship holder" : 'object',
                         "International" : 'object'})
dropout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   ID                                              4424 non-null   object
 1   Nationality                                     4397 non-null   float64
 2   Gender                                          4397 non-null   object
 3   Target                                          4416 non-null   object
 4   Marital status                                  4405 non-null   object
 5   Application mode                                4399 non-null   object
 6   Application order                               4395 non-null   float64
 7   Course                                          4403 non-null   object
 8   Daytime/evening attendance                      4407 non-null   object
 9   Previous qualification                          4403 non-null   object
 10  Mother's qualification                          4399 non-null   object
 11  Father's qualification                          4397 non-null   object
 12  Mother's occupation                             4396 non-null   object
 13  Father's occupation                             4399 non-null   object
 14  Displaced                                       4397 non-null   object
 15  Educational special needs                       4386 non-null   object
 16  Debtor                                          4395 non-null   object
 17  Tuition fees up to date                         4393 non-null   object
 18  Scholarship holder                              4398 non-null   object
 19  Age at enrollment                               4398 non-null   float64
 20  International                                   4395 non-null   object
 21  Education                                       111 non-null    float64
 22  Curricular units 1st sem (credited)             4398 non-null   float64
 23  Curricular units 1st sem (enrolled)             4387 non-null   float64
 24  Curricular units 1st sem (evaluations)          4394 non-null   float64
 25  Curricular units 1st sem (approved)             4396 non-null   float64
 26  Curricular units 1st sem (grade)                4377 non-null   float64
 27  Curricular units 1st sem (without evaluations)  4402 non-null   float64
 28  Curricular units 2nd sem (credited)             4395 non-null   float64
 29  Curricular units 2nd sem (enrolled)             4406 non-null   float64
 30  Curricular units 2nd sem (evaluations)          4406 non-null   float64
 31  Curricular units 2nd sem (approved)             4398 non-null   float64
 32  Curricular units 2nd sem (grade)                4397 non-null   float64
 33  Curricular units 2nd sem (without evaluations)  4402 non-null   float64
 34  Unemployment rate                               4393 non-null   float64
 35  Inflation rate                                  4389 non-null   float64
 36  GDP                                             4377 non-null   float64
dtypes: float64(19), object(18)
memory usage: 1.3+ MB

### Í≤∞Ï∏°Ïπò ÌôïÏù∏
- Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏° ÎπÑÏú® ÌôïÏù∏

In [15]:
round((dropout.isnull().sum()/len(dropout)) * 100, 2)

ID                                                 0.00
Nationality                                        0.61
Gender                                             0.61
Target                                             0.18
Marital status                                     0.43
Application mode                                   0.57
Application order                                  0.66
Course                                             0.47
Daytime/evening attendance                         0.38
Previous qualification                             0.47
Mother's qualification                             0.57
Father's qualification                             0.61
Mother's occupation                                0.63
Father's occupation                                0.57
Displaced                                          0.61
Educational special needs                          0.86
Debtor                                             0.66
Tuition fees up to date                            0.70
Scholarship holder                                 0.59
Age at enrollment                                  0.59
International                                      0.66
Education                                         97.49
Curricular units 1st sem (credited)                0.59
Curricular units 1st sem (enrolled)                0.84
Curricular units 1st sem (evaluations)             0.68
Curricular units 1st sem (approved)                0.63
Curricular units 1st sem (grade)                   1.06
Curricular units 1st sem (without evaluations)     0.50
Curricular units 2nd sem (credited)                0.66
Curricular units 2nd sem (enrolled)                0.41
Curricular units 2nd sem (evaluations)             0.41
Curricular units 2nd sem (approved)                0.59
Curricular units 2nd sem (grade)                   0.61
Curricular units 2nd sem (without evaluations)     0.50
Unemployment rate                                  0.70
Inflation rate                                     0.79
GDP                                                1.06
dtype: float64

# ------------------------------------------------------------------------------------------------------------

## Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨

###  Î®∏Ïã†Îü¨Îãù Î∞è Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóêÏÑú ÏÉÅÌô©Í≥º Î™©Ï†ÅÏóê ÎßûÍ≤å Ï≤òÎ¶¨Ìï¥Ïïº ÌïòÎäî Ï§ëÏöîÌïú ÌîÑÎ°úÏÑ∏Ïä§ Ï§ë ÌïòÎÇò



1. Í≤∞Ï∏°Ïπò ÎπÑÏú®Ïù¥ 10% ÎØ∏ÎßåÏù∏ Í≤ΩÏö∞
- ÏÇ≠Ï†ú Í∞ÄÎä•
<p>


2. Í≤∞Ï∏°Ïπò ÎπÑÏú®Ïù¥ 30% ~ 50%Ïù∏ Í≤ΩÏö∞
- ÏÇ≠Ï†ú ÏúÑÌóò
<p>


3. Í≤∞Ï∏°Ïπò ÎπÑÏú®Ïù¥ 50% Ïù¥ÏÉÅÏù∏ Í≤ΩÏö∞
- Îç∞Ïù¥ÌÑ∞ ÏûêÏ≤¥Ïóê ÎåÄÌïú Ï∂îÍ∞Ä Í≤ÄÏ¶ù ÌïÑÏöî or Ìï¥Îãπ Ïª¨ÎüºÏùò Ï†úÍ±∞ Í≥†Î†§
<p> 
    
==============================
### * Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ïÏùÄ Îã§Ïñë
    
1. Ï†úÍ±∞
- ÌïúÍ∞ú Ïù¥ÏÉÅÏùò Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Î™®Îì† Ìñâ Ï†úÍ±∞
    
2. ÎåÄÏπò
- Í≤∞Ï∏°ÏπòÎ•º ÌäπÏ†ïÍ∞í(ÌèâÍ∑†, ÏµúÏÜå, ÏµúÎåÄ, ÏµúÎ∞òÍ∞í Îì±Îì±)ÏúºÎ°ú ÎåÄÏ≤¥
    
3. Î≥¥Í∞ÑÎ≤ï
- Ï∂îÏÑ∏Î•º Í≤∞Ï∏°Ïπò Ïù¥Ïô∏Ïùò Í∞íÎì§ÏùÑ ÏÑ†ÌòïÏ†ÅÏúºÎ°ú Í∞ôÏùÄ Í∞ÑÍ≤©ÏúºÎ°ú Ï≤òÎ¶¨ (ÏãúÍ≥ÑÏó¥ Îç∞Ïù¥ÌÑ∞Ïóê Ï†ÅÌï©)

#### Target Î≥ÄÏàòÏóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ìñâ ÏùºÍ¥Ñ Ï†úÍ±∞
- target Î≥ÄÏàòÏóêÎäî Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÏñ¥ÏÑúÎäî ÏïàÎêúÎã§!!!

In [16]:
# target Î≥ÄÏàòÏùò Í≤∞Ï∏°Ïπò Ïú†Î¨¥ ÌôïÏù∏ -> Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú Î≤àÌôò ÌõÑ ÌôïÏù∏

null_cnt_df = pd.DataFrame(dropout.isnull().sum()).rename(columns={0 : 'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round((null_cnt_df['null_count'] / len(dropout))*100 , 2)
null_cnt_df

                                             index  null_count  null_ratio
0                                               ID           0        0.00
1                                      Nationality          27        0.61
2                                           Gender          27        0.61
3                                           Target           8        0.18
4                                   Marital status          19        0.43
5                                 Application mode          25        0.57
6                                Application order          29        0.66
7                                           Course          21        0.47
8                       Daytime/evening attendance          17        0.38
9                           Previous qualification          21        0.47
10                          Mother's qualification          25        0.57
11                          Father's qualification          27        0.61
12                             Mother's occupation          28        0.63
13                             Father's occupation          25        0.57
14                                       Displaced          27        0.61
15                       Educational special needs          38        0.86
16                                          Debtor          29        0.66
17                         Tuition fees up to date          31        0.70
18                              Scholarship holder          26        0.59
19                               Age at enrollment          26        0.59
20                                   International          29        0.66
21                                       Education        4313       97.49
22             Curricular units 1st sem (credited)          26        0.59
23             Curricular units 1st sem (enrolled)          37        0.84
24          Curricular units 1st sem (evaluations)          30        0.68
25             Curricular units 1st sem (approved)          28        0.63
26                Curricular units 1st sem (grade)          47        1.06
27  Curricular units 1st sem (without evaluations)          22        0.50
28             Curricular units 2nd sem (credited)          29        0.66
29             Curricular units 2nd sem (enrolled)          18        0.41
30          Curricular units 2nd sem (evaluations)          18        0.41
31             Curricular units 2nd sem (approved)          26        0.59
32                Curricular units 2nd sem (grade)          27        0.61
33  Curricular units 2nd sem (without evaluations)          22        0.50
34                               Unemployment rate          31        0.70
35                                  Inflation rate          35        0.79
36                                             GDP          47        1.06

In [18]:
print('Target Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Ï†Ñ')
display(dropout[dropout['Target'].isna()])

# Í≤∞Ï∏°Ïπò Ï†úÍ±∞
dropout.dropna(subset='Target', inplace=True)

print('Target Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ')
display(dropout[dropout['Target'].isna()])
print(dropout.shape)

Target Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Ï†Ñ

Empty DataFrame
Columns: [ID, Nationality, Gender, Target, Marital status, Application mode, Application order, Course, Daytime/evening attendance, Previous qualification, Mother's qualification, Father's qualification, Mother's occupation, Father's occupation, Displaced, Educational special needs, Debtor, Tuition fees up to date, Scholarship holder, Age at enrollment, International, Education, Curricular units 1st sem (credited), Curricular units 1st sem (enrolled), Curricular units 1st sem (evaluations), Curricular units 1st sem (approved), Curricular units 1st sem (grade), Curricular units 1st sem (without evaluations), Curricular units 2nd sem (credited), Curricular units 2nd sem (enrolled), Curricular units 2nd sem (evaluations), Curricular units 2nd sem (approved), Curricular units 2nd sem (grade), Curricular units 2nd sem (without evaluations), Unemployment rate, Inflation rate, GDP]
Index: []

[0 rows x 37 columns]

Target Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ

Empty DataFrame
Columns: [ID, Nationality, Gender, Target, Marital status, Application mode, Application order, Course, Daytime/evening attendance, Previous qualification, Mother's qualification, Father's qualification, Mother's occupation, Father's occupation, Displaced, Educational special needs, Debtor, Tuition fees up to date, Scholarship holder, Age at enrollment, International, Education, Curricular units 1st sem (credited), Curricular units 1st sem (enrolled), Curricular units 1st sem (evaluations), Curricular units 1st sem (approved), Curricular units 1st sem (grade), Curricular units 1st sem (without evaluations), Curricular units 2nd sem (credited), Curricular units 2nd sem (enrolled), Curricular units 2nd sem (evaluations), Curricular units 2nd sem (approved), Curricular units 2nd sem (grade), Curricular units 2nd sem (without evaluations), Unemployment rate, Inflation rate, GDP]
Index: []

[0 rows x 37 columns]

(4416, 37)

## * Í≤∞Ï∏°Ïπò 1Ï∞® Ï†úÍ±∞ -> Ìñâ Ï†úÍ±∞

- dropna() Ìï®Ïàò ÏÇ¨Ïö©
1. axis = 0/1 (0 : Ìñâ, 1 : Ïó¥)
2. how = 'any' / 'all' (any : Ìñâ/Ïó¥ Ï§ë ÌïòÎÇòÎùºÎèÑ ÏûàÎäî Í≤ΩÏö∞ Ï†úÍ±∞, all : Î™®Îì† Ìñâ/Ïó¥Ïù¥ Í≤∞Ï∏°Ïù∏ Í≤ΩÏö∞ Ï†úÍ±∞)

3. dropna(thresh = num) : ÌñâÏùò Í≤∞Ï∏°Ïπò Í∞úÏàòÍ∞Ä numÍ∞ú Ïù¥ÏÉÅÏù∏ Ìñâ Ï†úÍ±∞

4. subset = ÌäπÏ†ï Î≥ÄÏàò ÏßÄÏ†ï / ÏßÄÏ†ïÌïòÏßÄ ÏïäÏùÑ Í≤ΩÏö∞ : Î™®Îì† columne & rowÏóê Ï†ÅÏö©

In [29]:
# ÌñâÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Í≤∞Ï∏°ÏπòÍ∞Ä 2Í∞ú Ïù¥ÏÉÅÏù∏ Ìñâ Ï†úÍ±∞
nu_2 = (dropout.isnull().sum(axis=1) >= 2).sum()
print(f'Ìñâ Í∏∞Ï§Ä Í≤∞Ï∏°Ïπò 2Í∞ú Ïù¥ÏÉÅÏù∏ row Í∞úÏàò : {nu_2}')
print(f'Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Ï†Ñ dropout shape : {dropout.shape}')

# ÌòÑÏû¨ ÎπÑÎëòÍ∏∞ Î®∏Î¶¨Î•º ÎèåÎ¶¨Í∏∞ ÏúÑÌï¥ ÎÑòÏñ¥Í∞ÄÏûê
# dropout = dropout.dropna(thresh=2)
# print(f'Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ dropout shape : {dropout.shape}')

dropout_ = dropout[~(dropout.isnull().sum(axis=1) >= 2)]
print(f'Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ dropout shape : {dropout_.shape}')

Ìñâ Í∏∞Ï§Ä Í≤∞Ï∏°Ïπò 2Í∞ú Ïù¥ÏÉÅÏù∏ row Í∞úÏàò : 505
Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Ï†Ñ dropout shape : (4416, 37)
Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ dropout shape : (3911, 37)

In [31]:
null_cnt_df = pd.DataFrame(dropout_.isnull().sum()).rename(columns={0 : 'null_count'}).reset_index()
null_cnt_df['null_ratio'] = round((null_cnt_df['null_count'] / len(dropout_))*100 , 2)
null_cnt_df

                                             index  null_count  null_ratio
0                                               ID           0        0.00
1                                      Nationality           0        0.00
2                                           Gender           0        0.00
3                                           Target           0        0.00
4                                   Marital status           1        0.03
5                                 Application mode           1        0.03
6                                Application order           0        0.00
7                                           Course           0        0.00
8                       Daytime/evening attendance           0        0.00
9                           Previous qualification           1        0.03
10                          Mother's qualification           0        0.00
11                          Father's qualification           0        0.00
12                             Mother's occupation           0        0.00
13                             Father's occupation           0        0.00
14                                       Displaced           0        0.00
15                       Educational special needs           0        0.00
16                                          Debtor           1        0.03
17                         Tuition fees up to date           0        0.00
18                              Scholarship holder           1        0.03
19                               Age at enrollment           0        0.00
20                                   International           1        0.03
21                                       Education        3804       97.26
22             Curricular units 1st sem (credited)           0        0.00
23             Curricular units 1st sem (enrolled)           2        0.05
24          Curricular units 1st sem (evaluations)           1        0.03
25             Curricular units 1st sem (approved)           1        0.03
26                Curricular units 1st sem (grade)           1        0.03
27  Curricular units 1st sem (without evaluations)           0        0.00
28             Curricular units 2nd sem (credited)           1        0.03
29             Curricular units 2nd sem (enrolled)           0        0.00
30          Curricular units 2nd sem (evaluations)           0        0.00
31             Curricular units 2nd sem (approved)           0        0.00
32                Curricular units 2nd sem (grade)           1        0.03
33  Curricular units 2nd sem (without evaluations)           0        0.00
34                               Unemployment rate           1        0.03
35                                  Inflation rate           0        0.00
36                                             GDP           1        0.03

In [53]:
# ÌñâÎãπ NullÍ∞í 2Í∞ú Ïù¥ÏÉÅÏù∏ Ïï†Îì§ ÌôïÏù∏
(dropout_.isnull().sum(axis=1) == 2).sum()

0

In [59]:
# ÌñâÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î™®Îëê Í≤∞Ï∏°Ïù∏ case Ï†úÍ±∞

# Î™®Îì† ÌñâÏù¥ NullÏù∏ Í≤ΩÏö∞, Ï¶â ÌñâÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Null Í∞íÏù¥ Column ÏàòÏôÄ Í∞ôÏúºÎ©¥ Ï†úÍ±∞
(dropout.isnull().sum(axis=1) >= 30).sum()

# Î∞úÍ≤¨ÎêòÏßÄ ÏïäÏùå

0

In [ ]:
# ÏïΩ 4Ï≤úÍ∞úÏùò ÌñâÏ§ëÏóêÏÑú 3000Í∞ú Ïù¥ÏÉÅ Í≤∞Ï∏°Ïù∏ Ïª¨Îüº Ï†úÍ±∞ -> "Education" Ïª¨Îüº Ï†úÍ±∞ Îê®

dropout.dropna(thresh=3000, axis=1, inplace=True)

In [ ]:
dropout.info()

## * Í≤∞Ï∏°Ïπò ÌäπÏ†ïÍ∞í ÎåÄÏπò(imputation)

1. ÏµúÎπàÍ∞í : Î≤îÏ£ºÌòï Î≥ÄÏàòÏùò Í≤ΩÏö∞ (Í∞ÄÏû• ÎπÑÏú®Ïù¥ ÎÜíÏùÄ Î≤îÏ£ºÎ°ú ÎåÄÏπò Í∞ÄÎä•)

2. Ï§ëÏïôÍ∞í : Ïó∞ÏÜçÌòï Î≥ÄÏàòÏùò Í≤ΩÏö∞ Ï§ëÏïôÍ∞íÏúºÎ°ú ÎåÄÏπò Í∞ÄÎä•

3. ÌèâÍ∑† : Ïó∞ÏÜçÌòï Î≥ÄÏàòÏùò Í≤ΩÏö∞ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏπò Í∞ÄÎä•

4. ÏûÑÏùò ÏßÄÏ†ï : ÏÇ¨Ïö©ÏûêÍ∞Ä ÏõêÌïòÎäî ÏàòÏπòÎ°ú ÎåÄÏπò Í∞ÄÎä•

### ÌäπÏ†ïÍ∞í ÎåÄÏπò version 1 -> fillna() Ìï®Ïàò ÏÇ¨Ïö©

#### ÌÉÄÏûÖÎ≥Ñ Ïª¨Îüº Î¶¨Ïä§Ìä∏ Ïû¨Ï†ïÏùò
- 1. float64 ÌÉÄÏûÖÏóê Ìï¥ÎãπÌïòÎäî Ïª¨Îüº Î¶¨Ïä§Ìä∏ Î∞òÌôò
- 2. Object ÌÉÄÏûÖÏóê Ìï¥ÎãπÌïòÎäî Ïª¨Îüº Î¶¨Ïä§Ìä∏ Î∞òÌôò

In [ ]:
dropout['ID'].dtype

In [ ]:
# Í∞Å ÌÉÄÏûÖÎ≥Ñ Ïª¨Îüº Î¶¨Ïä§Ìä∏Î•º ÎîïÏÖîÎÑàÎ¶¨ ÌòïÌÉúÎ°ú Î∞òÌôò

# ex) {'object' : ['col1', 'col2'...], 'float64' : ['col3', 'col4'...]}
type_lst = dict({'Object': [], 'Float64' : []})
o_lst = []
f_lst = []

for i in dropout:
    if dropout[i].dtype == 'O':
        o_lst.append(i)
    else:
        f_lst.append(i)

type_lst['Object'] = o_lst
type_lst['Float64'] = f_lst

In [ ]:
# float64 ÌÉÄÏûÖÏóê Ìï¥ÎãπÌïòÎäî Ïª¨Îüº Î¶¨Ïä§Ìä∏ Î∞òÌôò
pprint(type_lst['Float64'])

# object ÌÉÄÏûÖÏóê Ìï¥ÎãπÌïòÎäî Ïª¨Îüº Î¶¨Ïä§Ìä∏ Î∞òÌôò
pprint(type_lst['Object'])

### * float ÌÉÄÏûÖ Ïª¨Îüº Í≤∞Ï∏°Ïπò ÎåÄÏπò

#### 1. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏπò

In [ ]:
dropout[dropout.isna().any(axis=1)]

In [ ]:
dropout[type_lst['Float64']].fillna(dropout.mean)

#### 2. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÎåÄÍ∞íÏúºÎ°ú ÎåÄÏπò

- idxmax() : ÏµúÎåÄÍ∞íÏùÑ Í∞ÄÏßÄÎäî Ïù∏Îç±Ïä§ Î†àÏù¥Î∏îÏùÑ Ï∂úÎ†•
- max() : ÏµúÎåÄÍ∞í Ï∂úÎ†•

In [ ]:
print(dropout[type_lst['Float64']].idxmax())
print(dropout[type_lst['Float64']].max())

In [ ]:
dropout[type_lst['Float64']].fillna(max)

#### 3. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÏÜåÍ∞íÏúºÎ°ú ÎåÄÏπò
- idxmin() : ÏµúÏÜåÍ∞íÏùÑ Í∞ÄÏßÄÎäî Ïù∏Îç±Ïä§ Î†àÏù¥Î∏îÏùÑ Ï∂úÎ†•
- min() : ÏµúÏÜåÍ∞íÏùÑ Ï∂úÎ†•

In [ ]:
print(dropout[type_lst['Float64']].idxmax())
print(dropout[type_lst['Float64']].max())

#### 4. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏπò version 1 -> -> value_counts() + idxmax() Ìï®Ïàò ÏÇ¨Ïö©

#### 5. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏπò version 2 -> mode() Ìï®Ïàò ÏÇ¨Ïö©

#### 6. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò Î∞îÎ°ú ÏúÑ Í∞íÏúºÎ°ú ÎåÄÏπò -> fillna(method = 'ffill')
- Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±ÏÉÅ ÏÑúÎ°ú Ïù¥ÏõÉÌïú Îç∞Ïù¥ÌÑ∞ÎÅºÎ¶¨ Ïú†ÏÇ¨ÏÑ±Ïù¥ ÎÜíÏùÑ Ïàò ÏûàÎã§Í≥† Í∞ÑÏ£ºÎê† Îïå ÏÇ¨Ïö©

#### 7. float64 ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò Î∞îÎ°ú ÏïÑÎûò Í∞íÏúºÎ°ú ÎåÄÏπò -> fillna(method = 'bfill')
- Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±ÏÉÅ ÏÑúÎ°ú Ïù¥ÏõÉÌïú Îç∞Ïù¥ÌÑ∞ÎÅºÎ¶¨ Ïú†ÏÇ¨ÏÑ±Ïù¥ ÎÜíÏùÑ Ïàò ÏûàÎã§Í≥† Í∞ÑÏ£ºÎê† Îïå ÏÇ¨Ïö©

#### 8. float ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î∂ÑÏÑùÍ∞ÄÍ∞Ä ÏõêÌïòÎäî ÏàòÏπòÎ°ú ÎåÄÏπò Í∞ÄÎä• -> replace() Ìï®Ïàò ÏÇ¨Ïö©
- to_replace : Î∞îÍæ∏Í≥† Ïã∂ÏùÄ Í∞í
- value : Î∞îÍæ∏Í≥†Ïûê ÌïòÎäî Í∞í

#### 9. float ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º ÏÑ±ÌòïÏ†ÅÏúºÎ°ú Í∞ôÏùÄ Í∞ÑÍ≤©ÏúºÎ°ú Ï≤òÎ¶¨ -> interpolate() Ìï®Ïàò ÏÇ¨Ïö© ### ÏãúÍ≥ÑÏó¥ Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ ÏÇ¨Ïö© Í∂åÏû•

# ------------------------------------------------------------------------------------------------------------

### * object ÌÉÄÏûÖ Ïª¨Îüº Í≤∞Ï∏°Ïπò ÎåÄÏπò

#### 1. object ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏπò version 1 -> value_counts() + idxmax() Ìï®Ïàò ÏÇ¨Ïö©

#### 2. object ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏπò version 2 -> mode() Ìï®Ïàò ÏÇ¨Ïö©

#### 3. object ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò Î∞îÎ°ú ÏúÑ Í∞íÏúºÎ°ú ÎåÄÏπò -> fillna(method = 'ffill')
- Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±ÏÉÅ ÏÑúÎ°ú Ïù¥ÏõÉÌïú Îç∞Ïù¥ÌÑ∞ÎÅºÎ¶¨ Ïú†ÏÇ¨ÏÑ±Ïù¥ ÎÜíÏùÑ Ïàò ÏûàÎã§Í≥† Í∞ÑÏ£ºÎê† Îïå ÏÇ¨Ïö©

#### 4. object ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê Í∞Å Ïª¨ÎüºÏùò Î∞îÎ°ú ÏïÑÎûò Í∞íÏúºÎ°ú ÎåÄÏπò -> fillna(method = 'bfill')
- Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±ÏÉÅ ÏÑúÎ°ú Ïù¥ÏõÉÌïú Îç∞Ïù¥ÌÑ∞ÎÅºÎ¶¨ Ïú†ÏÇ¨ÏÑ±Ïù¥ ÎÜíÏùÑ Ïàò ÏûàÎã§Í≥† Í∞ÑÏ£ºÎê† Îïå ÏÇ¨Ïö©

#### 5. object ÌÉÄÏûÖÏùò Ïª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Î∂ÑÏÑùÍ∞ÄÍ∞Ä ÏõêÌïòÎäî Í∞íÏúºÎ°ú ÎåÄÏπò Í∞ÄÎä• -> replace() Ìï®Ïàò ÏÇ¨Ïö©

# ------------------------------------------------------------------------------------------------------------

# Îç∞Ïù¥ÌÑ∞ ÏãúÍ∞ÅÌôî

### ÏãúÍ∞ÅÌôî ÎùºÏù¥Î∏åÎü¨Î¶¨

1. matplotlib
2. seaborn
3. plotly

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
# Í∑∏ÎûòÌîÑ ÌÉÄÏù¥ÌãÄ ÌïúÍ∏Ä Ï∂úÎ†•
matplotlib.rcParams['font.family'] ='Malgun Gothic'

# Í∑∏ÎûòÌîÑ ÏÇ¨Ïù¥Ï¶à ÏßÄÏ†ï
plt.rcParams['figure.figsize'] = [12, 8]

# MatplotlibÎ°ú Ïõê Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞
- Target ÌïôÏÉù Ïàò ÎπÑÏú®

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

# plotlyÎ°ú Ïõê Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞
- Target ÌïôÏÉù Ïàò ÎπÑÏú®

In [ ]:
import plotly.offline
import plotly.express as px
import plotly.graph_objs as go

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

# SeabornÏúºÎ°ú ÎßâÎåÄÍ∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞
- TargetÎ≥Ñ ÏÑ±ÎπÑ

In [ ]:
import seaborn as sns

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

# plotlyÎ°ú ÎßâÎåÄÍ∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞
- TargetÎ≥Ñ ÏÑ±ÎπÑ

In [ ]:
pivot_df = pd.DataFrame()

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

## Í≤∞Ìòº ÏÉÅÌÉúÏóê Îî∞Î•∏ Target Î≥ÄÏàò ÎπÑÏú®

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### Í≤∞Ìòº ÏÉÅÌÉúÏóê Îî∞Î•∏ Target Î≥ÄÏàò ÎπÑÏú® Íµ¨ÌïòÍ∏∞ -> plotly ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö©

In [ ]:
def change_matrial_val(values):
    if values == 1:
        return 'Single'
    elif values == 2:
        return 'Married'
    elif values == 3:
        return 'Widower'
    elif values == 4:
        return 'Divorced'
    elif values == 5:
        return 'Facto Union'
    elif values == 6:
        return 'Legally Seperated'

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

## Ï†ÑÍ≥µÏóê Îî∞Î•∏ Target ÎπÑÏú®

In [ ]:
course_remove = pd.DataFrame()


course_remove = course_remove.rename(index={
    1:'Biofuel Production Technologies',
    2:'Animation and Multimedia Design',
    3:'Social Service (Evening Attendance)',
    4:'Agronomy',5:'Communication Design',
    6:'Veterinary Nursing',
    7:'Informatics Engineering',
    8:'Equiniculture',
    9:'Management',
    10:'Social Service',
    11:'Tourism',
    12:'Nursing',
    13:'Oral Hygiene',
    14:'Advertising and Marketing Management',
    15:'Journalism and Communication',
    16:'Basic Education',
    17:'Management (Evening Attendance)'})

In [ ]:
# Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Í∞Å Î≤îÏ£ºÎ≥Ñ Ï¥ùÌï© Í≥ÑÏÇ∞


# Ï¥ùÌï©ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### Ï†ÑÍ≥µÏóê Îî∞Î•∏ Target ÎπÑÏú® -> plotly ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö©

In [ ]:
course_df = pd.DataFrame()

In [ ]:
name_list = ['Biofuel Production Technologies',
    'Animation and Multimedia Design',
    'Social Service (Evening Attendance)',
    'Agronomy',
    'Communication Design',
    'Veterinary Nursing',
    'Informatics Engineering',
    'Equiniculture',
    'Management',
    'Social Service',
    'Tourism',
    'Nursing',
    'Oral Hygiene',
    'Advertising and Marketing Management',
    'Journalism and Communication',
    'Basic Education',
    'Management (Evening Attendance)']

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### Íµ≠Ï†ÅÏóê Îî∞Î•∏ Target ÎπÑÏú®

- Ìè¨Î•¥Ìà¨ÏπºÏù∏Ïù¥ ÏïïÎèÑÏ†ÅÏúºÎ°ú ÎßéÏïÑ ÏòàÏ∏°Î•†Ïóê ÌÅ∞ ÏòÅÌñ•ÏùÄ Î™ª Ï§Ñ Í≤ÉÏúºÎ°ú Î≥¥ÏûÑ

In [ ]:
nation_df = pd.DataFrame()

In [ ]:
nation_df = nation_df.rename(index={1:'Portuguese',
                                    2:'German',
                                    3:'Spanish',
                                    4:'Italian',
                                    5:'Dutch',
                                    6:'English',
                                    7:'Lithuanian',
                                    8:'Angolan',
                                    9:'Cape Verdean',
                                    10:'Guinean',
                                    11:'Mozambican',
                                    12:'Santomean',
                                    13:'Turkish',
                                    14:'Brazilian',
                                    15:'Romanian',
                                    16:'Moldova',
                                    17:'Mexican',
                                    18:'Ukrainian',
                                    19:'Russian',
                                    20:'Cuban', 
                                    21:'Colombian'})

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### Íµ≠Ï†ÅÏóê Îî∞Î•∏ Target ÎπÑÏú® -> plotly ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö©

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

## Ïó∞Î†πÎåÄ Î∂ÑÌè¨ÎèÑ Í∑∏Î¶¨Í∏∞

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### Ïó∞Î†πÎåÄ Î∂ÑÌè¨ÎèÑ Í∑∏Î¶¨Í∏∞ -> plotly ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö©

In [ ]:
import plotly.figure_factory as ff

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

# ------------------------------------------------------------------------------------------------------------

# ÌûàÌä∏Îßµ Í∑∏Î¶¨Í∏∞ -> Î≥ÄÏàò ÏÑ†ÌÉù

In [ ]:
# Ïù∏Íµ¨ÌÜµÍ≥ÑÌïô Îç∞Ïù¥ÌÑ∞

demo_data = dropout_remove[["Marital status", "Nationality", "Displaced", "Gender", "Age at enrollment", "International", "Target"]]

# ÏÇ¨Ìöå-Í≤ΩÏ†ú Îç∞Ïù¥ÌÑ∞
se_data = dropout_remove[["Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", "Educational special needs", "Debtor", "Tuition fees up to date", "Scholarship holder", "Target"]]

# ÎØ∏ÏãúÍ≤ΩÏ†ú Îç∞Ïù¥ÌÑ∞
me_data = dropout_remove[['Unemployment rate', 'Inflation rate', 'GDP', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance', 'Previous qualification', 'Target']]

# ÌïôÏóÖ Îç∞Ïù¥ÌÑ∞
academic_data = dropout_remove[['Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Target']]

### Ïù∏Íµ¨ÌÜµÍ≥ÑÌïô Îç∞Ïù¥ÌÑ∞ ÌûàÌä∏Îßµ

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### ÏÇ¨Ìöå-Í≤ΩÏ†ú Îç∞Ïù¥ÌÑ∞ ÌûàÌä∏Îßµ

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### ÎØ∏ÏãúÍ≤ΩÏ†ú Îç∞Ïù¥ÌÑ∞ ÌûàÌä∏Îßµ

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

### ÌïôÏóÖ Îç∞Ïù¥ÌÑ∞ ÌûàÌä∏Îßµ

In [ ]:
# Í∑∏ÎûòÌîÑ Í∑∏Î¶¨Í∏∞

# Î≥ÄÏàò ÏÑ†ÌÉù

- Ï§ëÎ≥µÏÑ± Ï†úÍ±∞ÏôÄ Í≥ºÏ†ÅÌï© Î∞©ÏßÄÎ•º ÏúÑÌï¥ Ïú†ÏÇ¨Ìïú ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Í∞ÄÏßÑ Î≥ÄÏàòÎì§ Ï†úÍ±∞

In [ ]:
# ÏÇ≠Ï†ú ÌïÑÏöîÌïú Ïª¨Îüº Î¶¨Ïä§Ìä∏

# -------------------------------------------------------------------------------------------------------------

# Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨

1. Ïª¨ÎüºÎ≥Ñ ÌÉÄÏûÖ ÌôïÏù∏
- Î¨∏ÏûêÌòï, ÏàòÏπòÌòï ÌôïÏù∏

2. Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò ÌôïÏù∏
- Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò ÎπÑÏú® ÌôïÏù∏ ÌõÑ Ï†úÍ±∞ ÌåêÎ≥Ñ

3. Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥ Î∞©Î≤ï ÌôïÏù∏
- Î¨∏ÏûêÌòï(ÎπàÎèÑ) / ÏàòÏπòÌòï(ÌèâÍ∑†, ÏµúÎåÄ/ÏµúÏÜåÍ∞í, ÏµúÎπàÍ∞í Îì±)

4. Í≤∞Ï∏°Ïπò ÎåÄÏπò ÌõÑ ÏµúÏ¢Ö ÌôïÏù∏
- Í≤∞Ï∏°Ïπò Ïú†Î¨¥ ÌôïÏù∏

5. Î≥ÄÏàò ÏÑ†ÌÉù
- ÏÉÅÍ¥ÄÎ∂ÑÏÑù Îì± Í∏∞ÌÉÄ Î∂ÑÏÑùÏùÑ ÌÜµÌï¥ Î≥ÄÏàò ÏÑ†ÌÉù Î∞è Ï†úÍ±∞ ÏßÑÌñâ

6. ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
- Î™®Îç∏ ÌïôÏäµ Î∞è ÌÖåÏä§Ìä∏Î•º ÏúÑÌïú ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

# -------------------------------------------------------------------------------------------------------------

# Modeling

### Label Encoding -> Categorical variable

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from sklearn import preprocessing

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, auc, classification_report

import copy

### Î≤îÏ£ºÌòï Î≥ÄÏàò - Label Encoding

### target variable & input variable ÎÇòÎàÑÍ∏∞

### Feature Scaling

### Split train / test dataset

### Build Model

In [ ]:
# Î™®Îç∏ Î∂àÎü¨Ïò§Í∏∞, Ï†ïÏùò


# ÌïôÏäµ Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏(Decision Tree) ÌïôÏäµ


# ÌïôÏäµÎêú Î™®Îç∏Î°ú test Í≤∞Í≥ºÍ∞í Ï∂úÎ†•

### ÏòàÏ∏° Í≤∞Í≥º ÌôïÏù∏ (Î™®Îç∏ ÏÑ±Îä• ÌèâÍ∞Ä)

### * average ÏòµÏÖò

1. micro : Ï†ÑÏ≤¥ ÌèâÍ∑†
2. macro : ÎùºÎ≤® Î≥Ñ Í∞Å Ìï©Ïùò ÌèâÍ∑†
3. None : Í∞Å ÎùºÎ≤®Î≥Ñ ÌèâÍ∑†

### Accuracy, Precision, Recall Í≥ÑÏÇ∞

### Roc Ïª§Î∏å Í∑∏Î¶¨Í∏∞