In [1]:
import pandas as pd

import pprint

In [17]:
la = pd.read_csv('./data/churn/learning_action.csv', index_col=0)
lt = pd.read_csv('./data/churn/learning_time.csv', index_col=0)
sm = pd.read_csv('./data/churn/sample_member.csv', index_col=0)

,proc_ymd,userid,biz_sect_cd_nm,mbr_sex_cd_nm,mbr_step_cd_nm,user_grade,user_grade_nm,mbr_status_cd_nm,mcode,completed_yn,...,video_resume_cnt,video_speed_cnt,video_volume_cnt,video_end_cnt,index,proc_ym,grade_sect_cd,exit_date,status,re_purch
0,20230518,05723aa6-fcc5-435d-b3d8-1fe3885bf955,초등,남,유료학습생,G015,초5학년,사용,T0EE51U03003,Y,...,0.0,0.0,0.0,3.0,92260.0,202305.0,G015,NaN,10.0,False
1,20230502,08463412-6c1f-4fe0-ba8b-30e508fadf10,초등,남,유료학습생,G013,초3학년,사용,T9WE90U04111,Y,...,1.0,0.0,4.0,1.0,42015.0,202305.0,G013,NaN,10.0,False
2,20230507,007c1f6e-9004-4f0c-b885-e097d4d20b55,초등,여,유료학습생,G013,초3학년,사용,T0XE31UAD010,Y,...,0.0,0.0,0.0,0.0,66943.0,202305.0,G013,NaN,10.0,False
3,20230510,12396de0-ef2c-4f0d-b715-6d10d9eeca78,초등,여,유료학습생,G012,초2학년,사용,T0XE21U03057,Y,...,0.0,0.0,0.0,0.0,75751.0,202305.0,G012,NaN,10.0,False
4,20230522,1f1151d6-d854-4576-9d47-9b831781cf08,초등,여,유료학습생,G011,초1학년,사용,T0PE10U01175,Y,...,NaN,NaN,NaN,NaN,118078.0,202305.0,G011,NaN,10.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,20230527,c8b0ceb1-bf41-4d65-9b8b-27e8fe1dd65b,초등,남,유료학습생,G015,초5학년,사용,T0KE51U06002,Y,...,0.0,0.0,0.0,2.0,60167.0,202305.0,G015,NaN,10.0,False
953,20230531,eeaa37c5-9403-4f1e-a877-88263fdd3fd7,초등,여,유료학습생,G013,초3학년,사용,T0KE31U07004,Y,...,0.0,0.0,0.0,3.0,43087.0,202305.0,G013,NaN,10.0,False
954,20230508,dfd6ac7b-f5a2-46a5-ac6c-2e5897475803,초등,여,유료학습생,G012,초2학년,사용,T0KE21U03117,Y,...,0.0,0.0,0.0,0.0,116731.0,202305.0,G012,NaN,10.0,False
955,20230503,d294b6dd-ce31-47dd-be4e-fd2093e6c2ea,초등,남,유료학습생,G014,초4학년,사용,T0ME41U21001,Y,...,NaN,NaN,NaN,NaN,34983.0,202305.0,G014,NaN,10.0,False
956,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,초등,여,유료학습생,G014,초4학년,사용,T0KE41U05004,Y,...,0.0,0.0,0.0,3.0,62120.0,202305.0,G014,NaN,10.0,False

In [18]:
display(la)
display(lt)
display(sm)

,proc_ymd,userid,media_action_cnt,non_video_viewed_cnt,video_start_cnt,video_restart_cnt,video_pause_cnt,video_jump_cnt,video_resume_cnt,video_speed_cnt,video_volume_cnt,video_end_cnt
0,20230518,05723aa6-fcc5-435d-b3d8-1fe3885bf955,18.0,8.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0
1,20230512,05723aa6-fcc5-435d-b3d8-1fe3885bf955,4.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,20230516,05723aa6-fcc5-435d-b3d8-1fe3885bf955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230505,05723aa6-fcc5-435d-b3d8-1fe3885bf955,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20230510,05723aa6-fcc5-435d-b3d8-1fe3885bf955,10.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
84229,20230522,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84230,20230522,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,18.0,0.0,1.0,0.0,2.0,8.0,2.0,0.0,4.0,1.0
84231,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84232,20230518,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,15.0,7.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0
84233,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,9.0,2.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0

,proc_ymd,userid,biz_sect_cd_nm,mbr_sex_cd_nm,mbr_step_cd_nm,user_grade,user_grade_nm,mbr_status_cd_nm,mcode,completed_yn,...,video_resume_cnt,video_speed_cnt,video_volume_cnt,video_end_cnt,index,proc_ym,grade_sect_cd,exit_date,status,re_purch
0,20230518,05723aa6-fcc5-435d-b3d8-1fe3885bf955,초등,남,유료학습생,G015,초5학년,사용,T0EE51U03003,Y,...,0.0,0.0,0.0,3.0,92260.0,202305.0,G015,NaN,10.0,False
1,20230502,08463412-6c1f-4fe0-ba8b-30e508fadf10,초등,남,유료학습생,G013,초3학년,사용,T9WE90U04111,Y,...,1.0,0.0,4.0,1.0,42015.0,202305.0,G013,NaN,10.0,False
2,20230507,007c1f6e-9004-4f0c-b885-e097d4d20b55,초등,여,유료학습생,G013,초3학년,사용,T0XE31UAD010,Y,...,0.0,0.0,0.0,0.0,66943.0,202305.0,G013,NaN,10.0,False
3,20230510,12396de0-ef2c-4f0d-b715-6d10d9eeca78,초등,여,유료학습생,G012,초2학년,사용,T0XE21U03057,Y,...,0.0,0.0,0.0,0.0,75751.0,202305.0,G012,NaN,10.0,False
4,20230522,1f1151d6-d854-4576-9d47-9b831781cf08,초등,여,유료학습생,G011,초1학년,사용,T0PE10U01175,Y,...,NaN,NaN,NaN,NaN,118078.0,202305.0,G011,NaN,10.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,20230527,c8b0ceb1-bf41-4d65-9b8b-27e8fe1dd65b,초등,남,유료학습생,G015,초5학년,사용,T0KE51U06002,Y,...,0.0,0.0,0.0,2.0,60167.0,202305.0,G015,NaN,10.0,False
953,20230531,eeaa37c5-9403-4f1e-a877-88263fdd3fd7,초등,여,유료학습생,G013,초3학년,사용,T0KE31U07004,Y,...,0.0,0.0,0.0,3.0,43087.0,202305.0,G013,NaN,10.0,False
954,20230508,dfd6ac7b-f5a2-46a5-ac6c-2e5897475803,초등,여,유료학습생,G012,초2학년,사용,T0KE21U03117,Y,...,0.0,0.0,0.0,0.0,116731.0,202305.0,G012,NaN,10.0,False
955,20230503,d294b6dd-ce31-47dd-be4e-fd2093e6c2ea,초등,남,유료학습생,G014,초4학년,사용,T0ME41U21001,Y,...,NaN,NaN,NaN,NaN,34983.0,202305.0,G014,NaN,10.0,False
956,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,초등,여,유료학습생,G014,초4학년,사용,T0KE41U05004,Y,...,0.0,0.0,0.0,3.0,62120.0,202305.0,G014,NaN,10.0,False

,proc_ymd,userid,mcode,completed_yn,assessment_completed_yn,media_completed_yn,system_learning_time,restart_cnt,playtime_sum,score,item_cnt,quizcode_cnt,correct_cnt,solved_time_sum,solved_time_avg
0,20230518,05723aa6-fcc5-435d-b3d8-1fe3885bf955,T0EE51U03003,Y,Y,Y,382.0,2.0,NaN,40.0,5.0,5.0,2.0,99.0,19.8
1,20230512,05723aa6-fcc5-435d-b3d8-1fe3885bf955,T0KE51U05005,Y,Y,Y,482.0,1.0,NaN,84.0,19.0,19.0,16.0,NaN,NaN
2,20230516,05723aa6-fcc5-435d-b3d8-1fe3885bf955,T0KE51U14002,Y,NaN,Y,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230505,05723aa6-fcc5-435d-b3d8-1fe3885bf955,T0NE51UAB004,Y,Y,Y,5.0,2.0,NaN,83.0,18.0,18.0,15.0,NaN,NaN
4,20230510,05723aa6-fcc5-435d-b3d8-1fe3885bf955,T0WE90U20001,Y,NaN,Y,44.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84229,20230522,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,T9EE40U03035,Y,NaN,Y,483.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84230,20230522,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,T9WE90U53069,Y,NaN,Y,1530.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84231,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,T0ME40U21071,Y,Y,NaN,NaN,NaN,NaN,100.0,1.0,1.0,1.0,NaN,NaN
84232,20230518,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,T0ME41UBM003,Y,Y,Y,279.0,2.0,NaN,80.0,5.0,5.0,4.0,65.0,13.0
84233,20230502,f5f9dd2b-3a81-47e4-a687-ddb212b7a995,T0XE41UBL004,Y,Y,Y,912.0,2.0,NaN,60.0,5.0,5.0,3.0,149.0,29.8

# Data